name: AQI ETL Pipeline

on:
  schedule:
    - cron: "0 * * * *"   # Every 6 hours
  push:
    branches: [ main ]

jobs:
  etl:
    runs-on: ubuntu-latest
  services:
      mongo:
        image: mongo:6
        ports:
          - 27017:27017
        options: >-
          --health-cmd "mongosh --eval 'db.runCommand({ ping: 1 })'"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
  steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run ETL
        env:
          _API_NINJA_KEY_: ${{ secrets._API_NINJA_KEY_ }}
        run: |
          python etl.py
