name: AQI ETL Pipeline

on:
  schedule:
    - cron: "0 * * * *"   # Every hour
  push:
    branches: [ main ]
  workflow_dispatch:      # Allows manual trigger from GitHub UI

jobs:
  etl:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run ETL Pipeline
        env:
          _API_NINJA_KEY_: ${{ secrets._API_NINJA_KEY_ }}
          MONGO_URI: ${{ secrets.MONGO_URI }}
        run: |
          python etl.py